<!DOCTYPE html>
<html lang-"en">
<head>
  <title>Nucleus driver</title>
  <link type="text/css" rel="stylesheet" href="../static/css/normalize.css">
  <link type="text/css" rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/jquery.js"></script>
</head>
<body>

  <header>
    <ul>
      <li><img src="../static/images/nortek_logo_small.png" alt="nortek_logo"></li>
      <li><a href="{{ url_for('index', js='home') }}" class="{% if js == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="{{ url_for('index', js='pid_parameters') }}" class="{% if js == 'pid_parameters' %}active{% endif %}">PID parameters</a></li>
      <li><a href="{{ url_for('index', js='controller_parameters') }}" class="{% if js == 'controller_parameters' %}active{% endif %}">Controller parameters</a></li>
    </ul>
  </header>


  {% block heading %}{% endblock %}
  <div class="grid_parent">
    <div class="grid_left">{% block grid_left %}{% endblock %}</div>
    <div class="grid_right">{% block grid_right %}{% endblock %}</div>
  </div>
  
  {% block script %}{% endblock %}

  <script>
    function getStatus() {
      $.ajax({
        method: 'GET',
        url: {{ url_for('get_status') | tojson }},
        data: $(this).serialize()
      }).done(updateStatus);
    }
  
    function updateStatus(data) {
      $('#cable_guy').text(data.cable_guy);
      $('#heartbeat').text(data.heartbeat);
      $('#controller_parameters').text(data.controller_parameters);
      $('#nucleus_connected').text(data.nucleus_connected);
      $('#nucleus_configured').text(data.nucleus_configured);

      $('#toggle_driver').prop("checked", data.enable_nucleus_input);
      $('#connect_disconnect_button').prop('value', data.connect_button_text)
      /* $('#handle_logging').prop("checked", data.logging); */ /* Future support: logging */ 

      $('#AHRS_EKF_TYPE_current').text(data.AHRS_EKF_TYPE);
      $('#EK2_ENABLE_current').text(data.EK2_ENABLE);
      $('#EK3_ENABLE_current').text(data.EK3_ENABLE);
      $('#VISO_TYPE_current').text(data.VISO_TYPE);
      $('#GPS_TYPE_current').text(data.GPS_TYPE);
      $('#EK3_SRC1_POSXY_current').text(data.EK3_SRC1_POSXY);
      $('#EK3_SRC1_VELXY_current').text(data.EK3_SRC1_VELXY);
      $('#EK3_SRC1_POSZ_current').text(data.EK3_SRC1_POSZ);
      $('#SERIAL0_PROTOCOL_current').text(data.SERIAL0_PROTOCOL);
      
      $('#PSC_POSXY_P_current').text(data.PSC_POSXY_P);
      $('#PSC_POSZ_P_current').text(data.PSC_POSZ_P);
      $('#PSC_VELXY_P_current').text(data.PSC_VELXY_P);
      $('#PSC_VELXY_I_current').text(data.PSC_VELXY_I);
      $('#PSC_VELXY_D_current').text(data.PSC_VELXY_D);
      $('#PSC_VELZ_P_current').text(data.PSC_VELZ_P);

      $('#packets_sent').text(data.packets_sent);
      $('#packets_failed').text(data.packets_failed);
      $('#packets_skipped').text(data.packets_skipped);

      $('#HOST_current').text(data.hostname);
    }
  
    $(function() {setInterval(getStatus, 1000)})
  </script>
</body>
</html>