<!DOCTYPE html>
<html lang-"en">
<head>
  <title>Nucleus driver</title>
  <link rel="stylesheet" href="../static/css/normalize.css">
  <!-- <link rel="stylesheet" href="../static/css/sakura-earthly.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

  <header>
    <ul>
      <li><img src="../static/images/nortek_logo_small.png" alt="nortek_logo"></li>
      <li><a href="{{ url_for('index', js='home') }}" class="{% if js == 'home' %}active{% endif %}">Home</a></li>
      <li><a href="{{ url_for('index', js='pid_parameters') }}" class="{% if js == 'pid_parameters' %}active{% endif %}">PID parameters</a></li>
      <li><a href="{{ url_for('index', js='controller_parameters') }}" class="{% if js == 'controller_parameters' %}active{% endif %}">Controller parameters</a></li>
      <!-- <li id="contact"><a href="#">Contact us</a></li> -->
    </ul>
  </header>


  {% block heading %}{% endblock %}
  <div class="grid_parent">
    <div class="grid_left">{% block grid_left %}{% endblock %}</div>
    <div class="grid_right">{% block grid_right %}{% endblock %}</div>
  </div>
  <!-- {% block content %}{% endblock %} -->
  {% block script %}{% endblock %}

  <script>
    function getStatus() {
      $.ajax({
        method: 'GET',
        url: {{ url_for('get_status') | tojson }},
        data: $(this).serialize()
      }).done(updateStatus);
    }
  
    function updateStatus(data) {
      $('#cable_guy').text(data.cable_guy);
      $('#nucleus_available').text(data.nucleus_available);
      $('#nucleus_connected').text(data.nucleus_connected);
      $('#dvl_enabled').text(data.dvl_enabled);
      $('#heartbeat').text(data.heartbeat);
      $('#controller_parameters').text(data.controller_parameters);
    }
  
    $(function() {setInterval(getStatus, 1000)})
  </script>
</body>
</html>