<!doctype html>
<title>JavaScript Example</title>
<!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/normalize.css"> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura-earthly.css"> -->
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/sakura-earthly.css">
<link rel="stylesheet" href="../static/css/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--
<style>
  
  
  
  label > input { width: 3em; }
  form > * { padding-right: 1em; }
  #result { font-weight: bold; }
</style>
-->

<!-- li > * { padding: 1em; } -->
<!-- ul { margin: 0; padding: 0; display: flex; list-style-type: none; }-->
<!-- form { display: flex; } THIS WAS INSIDE <style> above -->

<ul class="top_banner">
  <li><span>Type:</span>
  <li class="{% if js == 'plain' %}active{% endif %}">
    <a href="{{ url_for('index', js='plain') }}">Plain</a>
  <li class="{% if js == 'fetch' %}active{% endif %}">
    <a href="{{ url_for('index', js='fetch') }}">Fetch</a>
  <li class="{% if js == 'jquery' %}active{% endif %}">
    <a href="{{ url_for('index', js='jquery') }}">jQuery</a>
</ul>
<hr>
<p>{% block intro %}{% endblock %}</p>
<hr>
{% block content %}{% endblock %}
{% block script %}{% endblock %}