{% extends 'base.html' %}

{% block heading %}
<h1>Controller parameters</h1>
{% endblock %}

{% block grid_left %} 

<form id="write_controller_parameters">
  <fieldset id="parameters">
    <p>Controller parameters</p>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Current</th>
        <th>New value</th>
      </tr>
      <tr>
        <td><label for="AHRS_EKF_TYPE">AHRS_EKF_TYPE </label></td>
        <td><span id="AHRS_EKF_TYPE_current">---</span></td>
        <td><input type="text" id="AHRS_EKF_TYPE" name="AHRS_EKF_TYPE"></td>
      </tr>
      <tr>
        <td><label for="EK2_ENABLE">EK2_ENABLE </label></td>
        <td><span id="EK2_ENABLE_current">---</span></td>
        <td><input type="text" id="EK2_ENABLE" name="EK2_ENABLE"></td>
      </tr>
      <tr>
        <td><label for="EK3_ENABLE">EK3_ENABLE </label></td>
        <td><span id="EK3_ENABLE_current">---</span></td>
        <td><input type="text" id="EK3_ENABLE" name="EK3_ENABLE"></td>
      </tr>
      <tr>
        <td><label for="VISO_TYPE">VISO_TYPE </label></td>
        <td><span id="VISO_TYPE_current">---</span></td>
        <td><input type="text" id="VISO_TYPE" name="VISO_TYPE"></td>
      </tr>
      <tr>
        <td><label for="GPS_TYPE">GPS_TYPE </label></td>
        <td><span id="GPS_TYPE_current">---</span></td>
        <td><input type="text" id="GPS_TYPE" name="GPS_TYPE"></td>
      </tr>
      <tr>
        <td><label for="EK3_SRC1_POSXY">EK3_SRC1_POSXY </label></td>
        <td><span id="EK3_SRC1_POSXY_current">---</span></td>
        <td><input type="text" id="EK3_SRC1_POSXY" name="EK3_SRC1_POSXY"></td>
      </tr>
      <tr>
        <td><label for="EK3_SRC1_VELXY">EK3_SRC1_VELXY </label></td>
        <td><span id="EK3_SRC1_VELXY_current">---</span></td>
        <td><input type="text" id="EK3_SRC1_VELXY" name="EK3_SRC1_VELXY"></td>
      </tr>
      <tr>
        <td><label for="EK3_SRC1_POSZ">EK3_SRC1_POSZ </label></td>
        <td><span id="EK3_SRC1_POSZ_current">---</span></td>
        <td><input type="text" id="EK3_SRC1_POSZ" name="EK3_SRC1_POSZ"></td>
      </tr>
      <tr>
        <td><label for="SERIAL0_PROTOCOL">SERIAL0_PROTOCOL </label></td>
        <td><span id="SERIAL0_PROTOCOL_current">---</span></td>
        <td><input type="text" id="SERIAL0_PROTOCOL" name="SERIAL0_PROTOCOL"></td>
      </tr>
    </table>
    <input type="submit" value="Write controller parameters">
    <div><span id="result_controller">---</span></div>
  </fieldset>
</form>

{% endblock %}

{% block grid_right %} 

<p> The Nucleus extension relies on sending velocity data into the BlueROV2 in order for the BlueROV2 to able to use its "Position Hold" feature.</p>

<p>In order for the BlueROV2 to retrieve this velocity data, certain paramaters in the BlueROV2 controller has to be changed.</p>

<p>These parameters and their required values are as follows:

  <ul id="default_list">
    <li>AHRS_EKF_TYPE = 3</li>
    <li>EK2_ENABLE = 0</li>
    <li>EK3_ENABLE = 1</li>
    <li>VISO_TYPE = 1</li>
    <li>GPS_TYPE = 0</li>
    <li>EK3_SRC1_POSXY = 6</li>
    <li>EK3_SRC1_VELXY = 6</li>
    <li>EK3_SRC1_POSZ = 1</li>
    <li>SERIAL0_PROTOCOL = 2</li>
  </ul>
</p>

<p>For the parameter changes to take effect, a power cycle of the ROV is required.</p>

<p><b>N.B.</b> These changes may affect the behaviour of the BlueROV2!</p>

<p><b>N.B.</b> Neither this extension nor the BlueROV2 will remember the default values of these parameters. It is therefore the users responsibility to remember the default values in case they want to revert any configuration done to these parameters.</p>
  
{% endblock %}

{% block script %}

<script>
  function addControllerParameters(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('write_controller_parameters') | tojson }},
      data: $(this).serialize()
    }).done(addControllerShow);
  }

  function addControllerShow(data) {
    $('#result_controller').text(data.result);
  }

  $('#write_controller_parameters').on('submit', addControllerParameters);
</script>

{% endblock %}