{% extends 'base.html' %}

{% block heading %}
<h1>Home</h1>
{% endblock %}

{% block grid_left %} 

<div>
<fieldset id="status_table">
  <p>Status</p>
  <table style="text-align:center;">
    <tr>
      <td><span>Cable guy:</span></td>
      <td><span id="cable_guy">---</span></td>
    </tr>
    <tr>
      <td><span>Heartbeat:</span></td>
      <td><span id="heartbeat">---</span></td>
    </tr>
    <tr>
      <td><span>Controller parameters:</span></td>
      <td><span id="controller_parameters">---</span></td>
    </tr>
    <tr>
      <td><span>Nucleus connected:</span></td>
      <td><span id="nucleus_connected">---</span></td>
    </tr>
    <tr>
      <td><span>Nucleus configured:</span></td>
      <td><span id="nucleus_configured">---</span></td>
    </tr>
  </table>
</fieldset>
</div>

<div>
  <form id="connect_disconnect">
    <fieldset id="parameters" style="width:18rem">
      <p>Nucleus connection</p>
      <table style="text-align:center;">
        <tr>
          <td><label for="HOSTNAME">Host </label></td>
          <td><input type="text" id="HOSTNAME" name="HOSTNAME" style="width:12rem"></td>
        </tr>
      </table>
      <input type="submit" id="connect_disconnect_button" value="Connect">
      <div><span id="result_hostname">---</span></div>
    </fieldset>
  </form>
</div>

<div>
  <fieldset id="enable_driver">
    <p>Enable driver</p>
    <tr>
      <label class="switch" id="toggle_driver_label">
        <input type="checkbox", id="toggle_driver", name="toggle_driver", value="enable">
        <span class="slider round"></span>
      </label>
    </tr>
  </fieldset>
</div>

<div>
  <fieldset id="packet_table">
    <p>Packet counter</p>
    <table>
      <tr>
        <td><span>Sent: </span></td>
        <td><span id="packets_sent">---</span></td>
      </tr>
      <tr>
        <td><span>Failed: </span></td>
        <td><span id="packets_failed">---</span></td>
      </tr>
      <tr>
        <td><span>Skipped: </span></td>
        <td><span id="packets_skipped">---</span></td>
      </tr>
    </table>
  </fieldset>
</div>

{% endblock %}

{% block grid_right %}

<p>Welcome to the Nucleus extension for the BlueROV2.</p>
  
<p>This extension feeds velocity data from the Nucleus into the BlueROV2, allowing the ROV to use its "position hold" feature.</p>

<p>This page serves to provide you, the user, with an overview of the condition of the extension, as well as providing you with the tools required to optimize your experience.</p>

<p>In order for the extension to to be able to feed velocity data to the ROV, certain controller parameters has to be configured. Navigate to "Controller parameters" to perform these configurations.</p>

<p>In order for the ROV to perform well in "position hold", the PID parameters in the ROV should be configured. Navigate to "PID parameters" to perform these configurations.</p>

<p>In order to establish connection to the Nortek Nucleus device, the IP address of the Nucleus must be used to establish connection under "Nucleus connection"</p>

<p>A description of the contents of this page is given in the following paragraphs.</p>

<h2>Status</h2>
<p>The status table displays the current status of all the checks that are required for this extension to work.</p>

<p>All the checks must say "OK" in order for the Nucleus to provide velocity data to the ROV.</p>

<p>If a check says "Failed", do the following to resolve the problem:
<ul id="default_list">
  <li><b>Cable guy: </b>Power cycle the ROV</li>
  <li><b>Heartbeat: </b>Power cycle the ROV</li>
  <li><b>Controller parameters: </b>Set the correct controller parameters, then power cycle the ROV</li>
  <li><b>Nucleus connected: </b>Ensure that the IP address specified for Nucleus hostname is matching the static IP of the Nucleus device</li> 
  <li><b>Nucleus configured: </b>Reconnect Nucleus</li>
  </ul>
</p>

<h2>Nucleus connection</h2>

Connect to the Nucleus device with the defined hostname. This value should match the static IP which is configured on the Nortek Nucleus device.

<h2>Enable Driver</h2>

<p>Toggling the enable driver switch decides whether the velocity data is fed to the ROV. If disabled the Nucleus is still running and collecting data, but the velocity data are not sent to the ROV's control system.</p>

<h2>Packet counter</h2>

<p>The packet counter displays how many VISUAL_POSITION_DELTA packets that has been handled in the driver. The different counters means the following:
  <ul id="default_list">
    <li><b>Sent: </b>Number of packets successfully sent to the ROV</li>
    <li><b>Failed: </b>Number of packets failed being sent to the ROV</li> 
    <li><b>Skipped: </b>Number of packets not sent to the ROV due to driver not being enabled</li> 
  </ul>
</p>

{% endblock %}

{% block script %}

<script>
  function enableDriver(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('toggle_driver') | tojson }},
      data: $(this).serialize()
    }).done();
  }

  $('#toggle_driver').change(enableDriver);
</script>

<script>
  function ConnectDisconnect(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('connect_disconnect_nucleus') | tojson }},
      data: $(this).serialize()
    }).done(setConnectionStatus);
  }

  function setConnectionStatus(data) {
    $('#connect_disconnect_button').prop('value', data.connect_button_text)
    $('#result_hostname').text(data.response);
  }

  $('#connect_disconnect').on('submit', ConnectDisconnect);
</script>

{% endblock %}