{% extends 'base.html' %}

{% block heading %}
<h1>Home</h1>
{% endblock %}

{% block grid_left %} 

<!--
<span>Cable guy: <span id="cable_guy">Default</span></span>
<br>
<span>Nucleus: <span id="nucleus"></span></span>
<br>
<span>Heart beat: <span id="heart_beat"></span></span>
<br>
<span>ROV config: <span id="controller_parameters"></span></span>
<br>
-->

<div>
<fieldset id="status_table">
  <p>Status</p>
  <table>
    <tr>
      <td><span>Cable guy:</span></td>
      <td><span id="cable_guy">---</span></td>
    </tr>
    <tr>
      <td><span>Nucleus connected:</span></td>
      <td><span id="nucleus_connected">---</span></td>
    </tr>
    <tr>
      <td><span>DVL enabled:</span></td>
      <td><span id="dvl_enabled">---</span></td>
    </tr>
    <tr>
      <td><span>Heartbeat:</span></td>
      <td><span id="heartbeat">---</span></td>
    </tr>
    <tr>
      <td><span>Controller parameters:</span></td>
      <td><span id="controller_parameters">---</span></td>
    </tr>
  </table>
</fieldset>
</div>

<div>
  <fieldset id="enable_driver">
    <p>Enable driver</p>
    <tr>
      <!-- <label for="toggle_driver_label">Enable driver </label> -->
      <label class="switch" id="toggle_driver_label">
        <!-- <label for="toggle_driver">Enable driver</label> -->
        <input type="checkbox", id="toggle_driver", name="toggle_driver", value="enable">
        <span class="slider round"></span>
      </label>
    </tr>
  </fieldset>
</div>

{% endblock %}

{% block grid_right %}

<p>Welcome to the Nucleus extension for the BlueROV. This extension feeds the velocity data from the Nucleus into the BlueROV, allowing the ROV to use its "position hold" feature.</p>

<h2>Status</h2>
<p>The status table displays the current status of all the checks that are required for this extension to work</p>

<p>All the checks must say "OK" in order for the Nucleus to provivde velocity data to the ROV.</p>

<p>These parameters and their required values are as follows:
<ul>
  <li><p><b>Cable guy: </b>This handles the internal networking within the ROV. If this fiels is not OK, power cycle the ROV</p></li>
  <li><b>Nucleus connected: </b>If this is not OK something went wrong when trying to establish contact with the Nucleus. Verfiy that the static IP of the Nucleus is set to 192.168.2.201</li>
  <li><b>DVL enabled: </b>The DVl must be enabled in order for the Nucleus to obtain velocity data. If this field is not OK the extension was not able to configure the Nucleus to enable the DVL. Power cycle the ROV</li>
  <li><b>Heartbeat: </b>The heartbeat is a sanity check to verify that the ROV is operational. If this is not OK, power cycle the ROV</li>
  <li><b>Controller parameters: </b>This check if the correct controller parameters are set in the ROV</li>
  <ul>
    <li><b>Incorrect: </b> Navigate to the "Controller parameters" page and set the parameters according the the specified values</li>
    <li><b>Restart: </b>Restart the ROV for the configured controller parameters to take effect</li>
  </ul>
</ul>
</p>

<h2>Enable Driver</h2>

<p>Toggling the enable driver switch decides whether the velocity data is fed to the ROV. If disabled the Nucleus is still running and collecting data, bet the velocity data are not sent to the ROV's control system</p>

{% endblock %}

{% block script %}
<script>
  function enableDriver(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('toggle_driver') | tojson }},
      data: $(this).serialize()
    }).done();
  }
  /*
    }).done(enableDriverShow);
  }

  function enableDriverShow(data) {
    $('#toggle_driver').prop("checked", data.result)
  }
  */
  $('#toggle_driver').change(enableDriver);
</script>

{% endblock %}