{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Nucleus {% endblock %}</h1>

    <!--
    <script type="text/JavaScript">
        $(function() {
            $('a#write_parameters_id').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/write_parameters', function(data) {
                    // do nothing
                });
                return falseM
            });
        });
    </script>
$SCRIPT_ROOT + 
    
    

    <div class="container">
        <h3>headline 3</h3>
        <form>
            <a href="#" id="write_parameters_id"><button class="btn btn-dark">This is the button</button> </a>
        </form>
    </div>

    -->

    <!--
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    -->
    
    <script>
        $(function() {
            $('a#writeparameters').bind('click', function() {
                $.getJSON('/write_parameters', function(data) {
                    $("#result").text(data.result);
                });
                return False
            });
        });
    </script>

    <h1>button example</h1>
    <p><input type="text" size="5" name="a"> +
       <input type="text" size="5" name="a"> =
       <span id="result">?</span>
    </p><a href=# id=writeparameters>write parameters to ROV</a>

    <!-- <a href="{{url_for('write_parameters')}}">New Post</a> -->


{% endblock %}

