{% extends 'base.html' %}

{% block intro %}
  <a href="https://jquery.com/">jQuery</a> is a popular library that
  adds cross browser APIs for common tasks. However, it requires loading
  an extra library.
{% endblock %}

{% block content %} 
<!--
<form id="write_pid_parameters">
    <label for="y">y </label> 
    <input type="text" id="y" name="y">
    <label for="z">z </label> 
    <input type="text" id="z" name="z">
    <label>x <input name="x"></label>
    <label>d <input name="a"></label>
    <label>b <input name="b"></label>
    <input type="submit" value="Write PID parameters">
</form>
<span>= <span id="result"></span></span>
-->

<!--
<style>
  ul { display: block}
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
</style>
-->

<form id="write_pid_parameters">
  <fieldset>
    <legend>PID parameters</legend>
    <ul class="mavlink_parameters">
      <li>
        <label for="PSC_POSXY_P">PSC_POSXY_P </label> 
        <input type="text" id="PSC_POSXY_P" name="PSC_POSXY_P">
      </li>
      <li>
        <label for="PSC_POSZ_P">PSC_POSZ_P </label> 
        <input type="text" id="PSC_POSZ_P" name="PSC_POSZ_P">
      </li>
      <li>
        <label for="PSC_VELXY_P">PSC_VELXY_P </label> 
        <input type="text" id="PSC_VELXY_P" name="PSC_VELXY_P">
      </li>
      <li>
        <label for="PSC_VELXY_I">PSC_VELXY_I </label> 
        <input type="text" id="PSC_VELXY_I" name="PSC_VELXY_I">
      </li>
      <li>
        <label for="PSC_VELXY_D">PSC_VELXY_D </label> 
        <input type="text" id="PSC_VELXY_D" name="PSC_VELXY_D">
      </li>
      <li>
        <label for="PSC_VELZ_P">PSC_VELZ_P </label> 
        <input type="text" id="PSC_VELZ_P" name="PSC_VELZ_P">
      </li>
      <li>
        <input type="submit" value="Write PID parameters">
      </li>
    </ul>
    <span>= <span id="result_pid"></span></span>
  </fieldset>
</form>

<form id="write_controller_parameters">
  <fieldset>
    <legend>PID parameters</legend>
    <ul class="mavlink_parameters">
      <li>
        <label for="AHRS_EKF_TYPE">AHRS_EKF_TYPE </label> 
        <input type="text" id="AHRS_EKF_TYPE" name="AHRS_EKF_TYPE">
      </li>
      <li>
        <label for="EK2_ENABLE">EK2_ENABLE </label> 
        <input type="text" id="EK2_ENABLE" name="EK2_ENABLE">
      </li>
      <li>
        <label for="EK3_ENABLE">EK3_ENABLE </label> 
        <input type="text" id="EK3_ENABLE" name="EK3_ENABLE">
      </li>
      <li>
        <label for="VISO_TYPE">VISO_TYPE </label> 
        <input type="text" id="VISO_TYPE" name="VISO_TYPE">
      </li>
      <li>
        <label for="GPS_TYPE">GPS_TYPE </label> 
        <input type="text" id="GPS_TYPE" name="GPS_TYPE">
      </li>
      <li>
        <label for="EK3_SRC1_POSXY">EK3_SRC1_POSXY </label> 
        <input type="text" id="EK3_SRC1_POSXY" name="EK3_SRC1_POSXY">
      </li>
      <li>
        <label for="EK3_SRC1_VELXY">EK3_SRC1_VELXY </label> 
        <input type="text" id="EK3_SRC1_VELXY" name="EK3_SRC1_VELXY">
      </li>
      <li>
        <label for="EK3_SRC1_POSZ">EK3_SRC1_POSZ </label> 
        <input type="text" id="EK3_SRC1_POSZ" name="EK3_SRC1_POSZ">
      </li>
      <li>
        <label for="ESERIAL0_PROTOCOL">SERIAL0_PROTOCOL </label> 
        <input type="text" id="SERIAL0_PROTOCOL" name="SERIAL0_PROTOCOL">
      </li>
      <li>
        <input type="submit" value="Write PID parameters">
      </li>
    </ul>
    <span>= <span id="result_controller"></span></span>
  </fieldset>
</form>

{% endblock %}

{% block script %}
<script>
  function addPidParameters(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('write_pid_parameters')|tojson }},
      data: $(this).serialize()
    }).done(addPidShow);
  }

  function addPidShow(data) {
    $('#result_pid').text(data.result);
  }

  $('#write_pid_parameters').on('submit', addPidParameters);
</script>

<script>
  function addControllerParameters(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('write_controller_parameters')|tojson }},
      data: $(this).serialize()
    }).done(addControllerShow);
  }

  function addControllerShow(data) {
    $('#result_controller').text(data.result);
  }

  $('#write_controller_parameters').on('submit', addControllerParameters);
</script>
{% endblock %}