{% extends 'base.html' %}

{% block intro %}
  <a href="https://jquery.com/">jQuery</a> is a popular library that
  adds cross browser APIs for common tasks. However, it requires loading
  an extra library.
{% endblock %}

{% block content %} 

<h1>Nucleus driver</h1>

<span>Status = <span id="status"></span></span>

<label for="toggle_driver_label">Enable driver </label> 
<label class="switch" id="toggle_driver_label">
  <!-- <label for="toggle_driver">Enable driver</label> -->
  <input type="checkbox", id="toggle_driver", name="toggle_driver", value="enable">
  <span class="slider round"></span>
</label>

<form id="write_pid_parameters">
  <fieldset id="parameters">
    <legend>Controller parameters</legend>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
      <tr>
        <td><label for="PSC_POSXY_P">PSC_POSXY_P </label></td>
        <td><input type="text" id="PSC_POSXY_P" name="PSC_POSXY_P"></td>
      </tr>
      <tr>
        <td><label for="PSC_POSZ_P">PSC_POSZ_P </label></td>
        <td><input type="text" id="PSC_POSZ_P" name="PSC_POSZ_P"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELXY_P">PSC_VELXY_P </label></td>
        <td><input type="text" id="PSC_VELXY_P" name="PSC_VELXY_P"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELXY_I">PSC_VELXY_I </label> </td>
        <td><input type="text" id="PSC_VELXY_I" name="PSC_VELXY_I"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELXY_D">PSC_VELXY_D </label></td>
        <td><input type="text" id="PSC_VELXY_D" name="PSC_VELXY_D"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELZ_P">PSC_VELZ_P </label></td>
        <td><input type="text" id="PSC_VELZ_P" name="PSC_VELZ_P"></td>
      </tr>
    </table>
    <input type="submit" value="Write PID parameters">
    <span>= <span id="result_pid"></span></span>
  </fieldset>
</form>

<form id="write_controller_parameters">
  <fieldset id="parameters">
    <legend>Controller parameters</legend>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
      <tr>
        <td><label for="AHRS_EKF_TYPE">AHRS_EKF_TYPE </label></td>
        <td><input type="text" id="AHRS_EKF_TYPE" name="AHRS_EKF_TYPE"></td>
      </tr>
      <tr>
        <td><label for="EK2_ENABLE">EK2_ENABLE </label></td>
        <td><input type="text" id="EK2_ENABLE" name="EK2_ENABLE"></td>
      </tr>
      <tr>
        <td><label for="EK3_ENABLE">EK3_ENABLE </label></td>
        <td><input type="text" id="EK3_ENABLE" name="EK3_ENABLE"></td>
      </tr>
      <tr>
        <td><label for="VISO_TYPE">VISO_TYPE </label></td>
        <td><input type="text" id="VISO_TYPE" name="VISO_TYPE"></td>
      </tr>
      <tr>
        <td><label for="GPS_TYPE">GPS_TYPE </label></td>
        <td><input type="text" id="GPS_TYPE" name="GPS_TYPE"></td>
      </tr>
      <tr>
        <td><label for="EK3_SRC1_POSXY">EK3_SRC1_POSXY </label></td>
        <td><input type="text" id="EK3_SRC1_POSXY" name="EK3_SRC1_POSXY"></td>
      </tr>
      <tr>
        <td><label for="EK3_SRC1_VELXY">EK3_SRC1_VELXY </label></td>
        <td><input type="text" id="EK3_SRC1_VELXY" name="EK3_SRC1_VELXY"></td>
      </tr>
      <tr>
        <td><label for="EK3_SRC1_POSZ">EK3_SRC1_POSZ </label></td>
        <td><input type="text" id="EK3_SRC1_POSZ" name="EK3_SRC1_POSZ"></td>
      </tr>
      <tr>
        <td><label for="ESERIAL0_PROTOCOL">SERIAL0_PROTOCOL </label></td>
        <td><input type="text" id="SERIAL0_PROTOCOL" name="SERIAL0_PROTOCOL"></td>
      </tr>
    </table>
    <input type="submit" value="Write controller parameters">
    <span>= <span id="result_controller"></span></span>
  </fieldset>
</form>

{% endblock %}

{% block script %}
<script>
  function addPidParameters(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('write_pid_parameters')|tojson }},
      data: $(this).serialize()
    }).done(addPidShow);
  }

  function addPidShow(data) {
    $('#result_pid').text(data.result);
  }

  $('#write_pid_parameters').on('submit', addPidParameters);
</script>

<script>
  function addControllerParameters(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('write_controller_parameters')|tojson }},
      data: $(this).serialize()
    }).done(addControllerShow);
  }

  function addControllerShow(data) {
    $('#result_controller').text(data.result);
  }

  $('#write_controller_parameters').on('submit', addControllerParameters);
</script>

<script>
  function enableDriver(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('toggle_driver') | tojson }},
      data: $(this).serialize()
    }).done(enableDriverShow);
  }

  function enableDriverShow(data) {
    $('#toggle_driver').prop("checked", data.result)
  }

  $('#toggle_driver').change(enableDriver);
</script>

<script>

  function getStatus() {
    $.ajax({
      method: 'GET',
      url: {{ url_for('get_status') | tojson }},
      data: $(this).serialize()
    }).done(updateStatus);
  } 
  /*
  $(function() {
    setInterval(function() {
      $.ajax({
        url: {{ url_for('get_status') }}
      }).done(updateStatus);
        }, 10000);
    });
  */

  function updateStatus(data) {
    $('#status').text(data.status);
  }

  $(function() {setInterval(getStatus, 1000)})
</script>
{% endblock %}