{% extends 'base.html' %}

{% block heading %}
<h1>PID parameters</h1>
{% endblock %}

{% block grid_left %} 

<form id="write_pid_parameters">
  <fieldset id="parameters">
    <p>PID parameters</p>
    <table>
      <tr>
        <th>Parameter</th>
        <th>Current</th>
        <th>New value</th>
      </tr>
      <tr>
        <td><label for="PSC_POSXY_P">PSC_POSXY_P </label></td>
        <td><span id="PSC_POSXY_P_current">---</span></td>
        <td><input type="text" id="PSC_POSXY_P" name="PSC_POSXY_P"></td>
      </tr>
      <tr>
        <td><label for="PSC_POSZ_P">PSC_POSZ_P </label></td>
        <td><span id="PSC_POSZ_P_current">---</span></td>
        <td><input type="text" id="PSC_POSZ_P" name="PSC_POSZ_P"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELXY_P">PSC_VELXY_P </label></td>
        <td><span id="PSC_VELXY_P_current">---</span></td>
        <td><input type="text" id="PSC_VELXY_P" name="PSC_VELXY_P"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELXY_I">PSC_VELXY_I </label> </td>
        <td><span id="PSC_VELXY_I_current">---</span></td>
        <td><input type="text" id="PSC_VELXY_I" name="PSC_VELXY_I"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELXY_D">PSC_VELXY_D </label></td>
        <td><span id="PSC_VELXY_D_current">---</span></td>
        <td><input type="text" id="PSC_VELXY_D" name="PSC_VELXY_D"></td>
      </tr>
      <tr>
        <td><label for="PSC_VELZ_P">PSC_VELZ_P </label></td>
        <td><span id="PSC_VELZ_P_current">---</span></td>
        <td><input type="text" id="PSC_VELZ_P" name="PSC_VELZ_P"></td>
      </tr>
    </table>
    <input type="submit" value="Write PID parameters">
    <div><span id="result_pid">---</span></div>
  </fieldset>
</form>

{% endblock %}

{% block grid_right %} 
<p>To optimize the performance of the "position hold" algorithm it is necessary to adjust certain PID parameters in the PID controller.</p>

<p>The optimal values varies from vehicle to vehicle as it depends on the physical properties of the ROV. It is therefore the users task to find the best parameters.</p>

<p>Suggested values for a standard BlueROV2, with only the Nucleus being the third party addition to the vehicle, are:

  <ul id="default_list">
    <li>PSC_POSXY_P = 2.0</li>
    <li>PSC_POSZ_P = 1.0</li>
    <li>PSC_VELXY_P = 5.0</li>
    <li>PSC_VELXY_I = 0.5</li>
    <li>PSC_VELXY_D = 0.8</li>
    <li>PSC_VELZ_P = 5.0</li>
  </ul>
</p>

<p><b>N.B.</b> Any changes to the PID parameters <b>will</b> affect the behaviour of the BlueROV2!</p>

<p><b>N.B.</b> Neither this extension nor the BlueROV2 will remember the default values of these parameters. It is therefore the users responsibility to remember the default values in case they want to revert any configuration done to these parameters.</p>

{% endblock %}

{% block script %}
<script>
  function addPidParameters(ev) {
    ev.preventDefault();
    $.ajax({
      method: 'POST',
      url: {{ url_for('write_pid_parameters') | tojson }},
      data: $(this).serialize()
    }).done(addPidShow);
  }

  function addPidShow(data) {
    $('#result_pid').text(data.result);
  }

  $('#write_pid_parameters').on('submit', addPidParameters);
</script>

{% endblock %}